$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;


$primary-color: #151F46;
$white-color: #FFFFFF;
$black-color: #212121;
$gray-color: #AEB7C2;
$red-color: #FF3D3D;

$h1: 60px;
$h2: 36px;
$h3: 24px;
